@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

body{
    font-family: "Poppins", sans-serif !important;
    color: rgba(0, 0, 0, 0.75);
    margin: 0;
    min-height: 100vh;
    height: 100vh;
    overflow-y: hidden;
}

label{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.75);
}

input{
    font-weight: 400;
    font-size: 0.9rem;
}

h2{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: rgba(0, 0, 0, 0.75);
    margin-top: 0;
}

.login_section{
    width: 100%;
    height: 100%;
    display: inline-flex;

}

.left_login_div{
    width: 130%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.left_login_div > img{
    width: 60%;
    height: auto;
}

.container-right-div-login{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 200%;
}

.right_login_div{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.password-forget-div{
    height: 100%;
    position: relative;
    width: auto;
    background-color: rgba(211, 211, 211, 1);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.password-forget-div-open{
    height: 100%;
    position: absolute;
    width: 44%;
    background-color: rgba(211, 211, 211, 1);
    display: flex;
    justify-content: center;
    animation: Slide_up 1.9s ease;
    flex-direction: column;
}
.password-forget-div-close{
    height: 100%;
    position: absolute;
    width: 44%;
    background-color: rgba(211, 211, 211, 1);
    display: flex;
    justify-content: center;
    animation: Slide_down 1.9s ease;
    flex-direction: column;
}
.password-forget-div > section {
    text-align: left;
    padding: 90px;
    display: flex;
    flex-direction: column;
}

@keyframes Slide_up {
    0%{
        transform: translateY(1776px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes Slide_down {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(1776px);
    }
}

.right_login_div h2 {
    margin-bottom: 4rem;
}

.right_login_div > section {
    text-align: left;
    margin: 0 12% 0 12%;
    display: flex;
    flex-direction: column;
}

.login_logo_lg {
    width: 56%;
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    height: 70px;
    justify-content: flex-start;
}

.login_logo_lg>img {
    position: absolute;
    top: 3%;
    height: 40px;
    width: auto;
}

.login_input_form{
    display: flex;
    flex-direction: column;
}

.login_input_form > input:nth-child(2), .login_input_form > div {
    margin-top: 2rem;
}

.login_submit_btn{
    margin-top: 1.4rem;
    width: 175px;
    height: 50px;
    border-radius: 6px;
    border: none;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
}

.main_link{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
}
.secondary_link-div{
    width: 100%;
}
.secondary_link{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 0.75rem;
    border: none;
    color: rgba(0,0,0,0.75);
}

.right_login_div > section > div {
    margin-top: 0.5rem;
}

input[type="checkbox"]{
    margin-left: 0;
    margin-bottom: 0;
    vertical-align: text-top;
}

.label_input{
    border-bottom: #CCCCCC solid 1px !important;
    outline: none;
    height: 30px;
    max-width: 400px;
}

.label_input > label {
    width: 100%;
}

.text_input{
    background-color: transparent;
    border: none;
    margin-left: 10px;
    height: 30px;
    width: 80%;
}

.text_input::-webkit-input-placeholder{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
}

section div:last-child{
    margin-top: 3rem !important;
    text-align: end !important;
}

i{
    color: rgba(0, 0, 0, 0.75) !important;
    height: 25px !important;
    vertical-align: inherit !important;
    margin: 0 0 5px 0 !important;
}


@media screen and (max-width: 768px) {
    .left_login_div {
        display: none;
    }

    .logo_spark_md {
        display: initial !important;
        position: absolute;
        right: 1rem;
        top: 1.2rem;
        height: 40px;
    }
    .password-forget-div{
        height: 100%;
        position: relative;
        width: auto;
        background-color: rgba(211, 211, 211, 1);
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .password-forget-div-open{
        height: 100%;
        position: absolute;
        width: 100%;
        background-color: rgba(211, 211, 211, 1);
        display: flex;
        justify-content: center;
        animation: Slide_up 1.9s ease;
        flex-direction: column;
    }
    .password-forget-div-close{
        height: 100%;
        position: absolute;
        width: 100%;
        background-color: rgba(211, 211, 211, 1);
        display: flex;
        justify-content: center;
        animation: Slide_down 1.9s ease;
        flex-direction: column;
    }
    .password-forget-div > section {
        text-align: left;
        padding: 90px;
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 425px) {
    h2 {
        font-size: 2.5rem;
    }

    .right_login_div h2 {
        margin-bottom: 2rem;
    }

    .login_submit_btn, .right_login_div > section > div:not(:last-child) {
        align-self: center;
    }

    section div:last-child {
        align-self: end;
    }

}

@media screen and (max-width: 320px) {
    .login_section {
        zoom: 0.9;
    }
}

.password-forget-div{
    height: 100%;
    position: relative;
    width: auto;
    background-color: rgba(211, 211, 211, 1);
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.password-forget-div-open{
    height: 100%;
    position: absolute;
    width: 44%;
    background-color: rgba(211, 211, 211, 1);
    display: flex;
    justify-content: center;
    animation: Slide_up 1.9s ease;
    flex-direction: column;
}
.password-forget-div-close{
    height: 100%;
    position: absolute;
    width: 44%;
    background-color: rgba(211, 211, 211, 1);
    display: flex;
    justify-content: center;
    animation: Slide_down 1.9s ease;
    flex-direction: column;
}
.password-forget-div > section {
    text-align: left;
    padding: 90px;
    display: flex;
    flex-direction: column;
}

@keyframes Slide_up {
    0%{
        transform: translateY(1776px);
    }
    100%{
        transform: translateY(0);
    }
}
@keyframes Slide_down {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(1776px);
    }
}