{% extends 'base_email.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <h1 style="color: darkblue; text-align: center">Bienvenue dans la communauté Spark {{ username }} ! </h1>
    <p>
        Veuillez cliquer sur le lien ci-dessous pour confirmer votre compte : <br><br>
        <a href="{{ path('app_login') }}">Comfirmer mon compte</a>.
        This link will expire in {{ expiration_date }}.
    </p>
    <p>
        Cheers!
    </p>
{% endblock %}

