{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('style/register/register.css') }}">
 {% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-7 d-none d-md-block image-container">
            </div>
            <div class="col-lg-6 col-md-5 form-container">
                <div class="col-lg-8 col-md-10 col-sm-9  form-container form-box text-center">
                    <div></div>
                    <div class="logo mb-3">
                        <img src="{{ asset('images/header/logo.png') }}" width="150px" alt="">
                    </div>
                    <div class="heading mb-4">
                        <h4 id="titre">Créer un compte</h4>
                    </div>
                    <form action="{{ path('app_register_validate') }}" method="post">
                        <div class="form-input">
                            <span><i class="fas fa-user"></i></span>
                            <input type="text" name="pseudo" placeholder="Veuillez entrer votre pseudo" required>
                        </div>
                        <div class="form-input">
                            <span><i class="far fa-envelope"></i></span>
                            <input type="email" name="email" placeholder="Veuillez entrer votre adresse email" required>
                        </div>
                        <div class="form-input">
                            <span><i class="fa fa-lock"></i></span>
                            <span class="eye"><i class="fa fa-eye"></i></span>
                            <input type="password" name="password" placeholder="Veuillez entrer votre mot de passe" required>
                        </div>
                        <div class="text-left mb-3 text-center">
                            <button type="submit" class="btn">Valider</button>
                        </div>
                        <div class="text-center mb-2">
                            <div class="mb-3" style="color: white; font-weight: bold">Se connecter avec</div>
                            <a href="" class="btn btn-social btn-facebook">Facebook</a>
                            <a href="" class="btn btn-social btn-google">Google</a>
                            <a href="" class="btn btn-social btn-twitter">Twitter</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            $(".show-password, .hide-password").on('click', function() {
                var passwordId = $(this).parents('li:first').find('input').attr('id');
                if ($(this).hasClass('show-password')) {
                    $("#" + passwordId).attr("type", "text");
                    $(this).parent().find(".show-password").hide();
                    $(this).parent().find(".hide-password").show();
                } else {
                    $("#" + passwordId).attr("type", "password");
                    $(this).parent().find(".hide-password").hide();
                    $(this).parent().find(".show-password").show();
                }
            });
        });

    </script>

{% endblock %}
