@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

body{
    margin: 0;
}

.complete_header{
    background-color: #FFFFFF;
    height: 110px;
    color: whitesmoke;
    border-bottom: 1px solid rgba(62, 62, 62, 0.1);
    box-sizing: border-box;
    box-shadow: 0 -2px 14px rgba(0, 0, 0, 0.25);
}

.top_header{
    margin: 0 1rem;
    height: 60%;
    display: flex;
    border-bottom: 1px solid rgba(62, 62, 62, 0.1);
}

.sub_header{
    margin: 0 1rem;
    height: 40%;
    display: flex;
    justify-content: space-between;
}

.top_header > div{
    display: flex;
}


.div_header_logo{
    width: 20%;
    margin: auto
}

.div_header_logo > a >  img {
    cursor: pointer;
    height: 40px;
}

.searchBar_header_div{
    width: 40%;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(196, 196, 196, 0.18);
    height: 60%;
    border-radius: 9px;
}

.searchBar_header_div > input::-webkit-input-placeholder{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.2);
}

i{
    color: rgba(0, 0, 0, 0.2);
    font-size: 14px;
    margin: auto 0.8rem;
}

.searchBar_header_div > input {
    background-color: transparent;
    border: none;
    width: 100%;
}

.header_user_option{
    justify-content: flex-end;
    width: 40%;
}

.top_header_icons{
    justify-content: space-evenly;
    width: 50%;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.top_header_icons > a > img {
    height: 20px;
    width: 2rem;
}

.top_header_icons > span {
    color: rgba(0, 0, 0, 0.50);
}

.header_profil{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.header_profil > img {
    z-index: 1;
    height: 35px;
    border-radius: 50%;
}

.header_profil > div {
    margin-left: -30px;
    height: 35px;
    background-color: #F6F6F6;
    width: 200px;
    border-radius: 110px;
    display: flex;
}

.header_profil > div > p{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    margin: auto;
    padding-left: 15px;
    color: rgba(0, 0, 0, 0.75);
}


.left_sub_header{
    margin: auto 0;
    display: flex;
}

.left_sub_header > a {
    text-decoration: none;
}

.left_sub_header > a > h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    width: 8rem;
    height: 100%;
    margin: 0;
    color: rgba(0, 0, 0, 0.75);
}

.right_sub_header{
    margin: auto 0;
    display: flex;
}

.right_sub_header > a {
    text-decoration: none;
}

.right_sub_header > a > h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    width: 8rem;
    height: 100%;
    margin: 0;
    color: rgba(0, 0, 0, 0.75);
}