{% extends 'base.html.twig' %}

{% block title %}FavoritePageController!{% endblock %}

{% block body %}

    <style>
    h2{
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        font-size: 2.5rem;
        color: rgba(0, 0, 0, 0.75);
        text-align: left;
        margin-bottom: 0;
        margin-left: 6rem;
        margin-top: 3rem;
    }

    #favorite_page_complete{
        margin: 0 4rem;
    }

    @media screen and (max-width: 800px) {
        #favorite_page_complete {
            margin: 0;
        }

        h2 {
            margin-left: 3rem;
            margin-top: 2rem;
            font-size: 2rem;
        }
    }

</style>

    <h2>Vos favoris</h2>
    <div id="favorite_page_complete">
        {% include 'components/favoriteCard.html.twig' %}
    </div>

{% endblock %}
