<form method="post" action="{{ path('faq_question_delete', {'id': faq_question.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette question ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ faq_question.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
