{% extends 'base.html.twig' %}

{% block title %}ProfilController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('style/profile.css')}}">
{% endblock %}

{% block body %}

    <div class="profil_section">
        <div class="align_article_card_seller">
            <div class="profil_seller">
                <img src="https://i.pravatar.cc/300">
                <div>
                    <p>John Doe</p>
                </div>
            </div>
            <div class="button">
                <button class="contact_button" type="button">Contacter</button>
                <button class="report_button" type="button">...</button>
            </div>
        </div>

        <div class ="align_location">
            <a href=""><img src={{ asset('images/profile/placeholder.svg') }}></a>
            <p>France, Loire-Atlantique</p>
        </div>
        <div class="align_description_profil">
            <h4>Description :</h4>
            <div class="description_profil">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
            </div>
            <div class="edit_button">
                <a href=""><img src={{ asset('images/view_articles/edituser.svg') }}></a>
            </div>
        </div>
    </div>

    <div class="article_number">
        <p>Articles mis en lignes (11)</p>
    </div>

    <div class="article_page_complete">
        {% include 'components/articleCard.html.twig' %}
    </div>

{% endblock %}
