{% extends 'base.html.twig' %}

{% block title %}{% endblock %}


{% block body %}
    <script src="https://www.paypal.com/sdk/js?client-id=AX0TPuIo7Dsjd4K9N69MgI-0oHnhB3rUFS33mMuAic47XeX05fUXedh5xSuU_8obyLxLq2PnROg7RpsQ"></script>
    <div class="container">
        <h1>PayPal integration</h1>
        <div id="paypal-button-container"></div>
    </div>

    <script>
        paypal.Buttons({
            onShippingChange: function(data, actions) {
                console.log(data)
                onsole.log("cc")
                if (data.shipping_address.country_code !== 'US') {
                    console.log("cc")
                    return actions.reject();
                }

                return actions.resolve();
            },
            createOrder: function(data, actions) {
                // This function sets up the details of the transaction, including the amount and line item details.
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '100'
                        }
                    }]
                });
            },
            onApprove: function(data, actions) {
                // This function captures the funds from the transaction.
                return actions.order.capture().then(function(details) {
                    // This function shows a transaction success message to your buyer.
                    window.location.href = '/commande/redirection-ok'
                });
            }
        }).render('#paypal-button-container');

    </script>

{% endblock %}

