{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

<script src="https://www.paypal.com/sdk/js?client-id=YOUR_SB_CLIENT_ID"> 
</script>
{% block body %}

    <div class="container">
        <h1>PayPal integration</h1>
    </div>
<div id="paypal-button-container"></div>

{% endblock %}

