{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('style/register.css') }}">
 {% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 d-none d-md-block image-container">
            </div>
            <div class="col-lg-6 col-md-6 form-container">
                <div class="col-lg-8 col-md-9 col-sm-12 col-12 form-container form-box text-center">
                    <div class="logo mb-3">
                        <img src="https://le-datascientist.fr/wp-content/uploads/2019/02/logo-apache-spark.png" width="150px" alt="">
                    </div>
                    <div class="heading mb-4">
                        <h4>Se connecter</h4>
                    </div>
                    <div class="text-left">
                        <h5>
                            <a href="{{ path('app_register') }}" class="havent-account">Pas de compte ?</a>
                        </h5>
                    </div>
                    <form action="">
                        <div class="form-input">
                            <span><i class="far fa-envelope"></i></span>
                            <input type="email" name="email" placeholder="Veuillez entrer votre adresse email" required>
                        </div>
                        <div class="form-input">
                            <span><i class="fa fa-lock"></i></span>
                            <input type="password" name="password" placeholder="Veuillez entrer votre mot de passe" required>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6 d-flex">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="cb1">
                                    <label for="cb1" class="custom-control-label">Se souvenir de moi</label>
                                </div>
                            </div>
                            <div class="col-6 text-right">
                                <a href="" class="forget-password">J'ai oublié le mot de passe</a>
                            </div>
                        </div>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"
                        >
                        <div class="text-left mb-3">
                            <button type="submit" class="btn">Valider</button>
                        </div>
                        <div class="text-center mb-2">
                            <div class="mb-3" style="color: white; font-weight: bold">Se connecter avec</div>
                            <a href="" class="btn btn-social btn-facebook">Facebook</a>
                            <a href="" class="btn btn-social btn-google">Google</a>
                            <a href="" class="btn btn-social btn-twitter">Twitter</a>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>


    <script>
        $(document).ready(function() {
            $(".show-password, .hide-password").on('click', function() {
                var passwordId = $(this).parents('li:first').find('input').attr('id');
                if ($(this).hasClass('show-password')) {
                    $("#" + passwordId).attr("type", "text");
                    $(this).parent().find(".show-password").hide();
                    $(this).parent().find(".hide-password").show();
                } else {
                    $("#" + passwordId).attr("type", "password");
                    $(this).parent().find(".hide-password").hide();
                    $(this).parent().find(".show-password").show();
                }
            });
        });
    </script>

{% endblock %}
