<div class="row bg-light text-dark py-3 px-5">
    <div class="col-sm">
        <h5>Besoin d'aide ?</h5>
        <p>Suivre mon colis</p>
        <p>Guide des tailles</p>
        <p>Livraisons</p>
        <p>Retours</p>
    </div>
    <div class="col-sm">
        <h5>Suivez-nous</h5>
        <div class="row mt-3">
            <svg width="40" height="43" viewBox="0 0 40 43" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-3">
                <path d="M35.6589 0H4.34109C1.94357 0 0 2.08934 0 4.66667V38.3333C0 40.9107 1.94357 43 4.34109 43H35.6589C38.0564 43 40 40.9107 40 38.3333V4.66667C40 2.08934 38.0564 0 35.6589 0Z" fill="#3B5999"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M13.0232 17.6667H17.2092V16.8334C17.2092 15.5001 17.0542 13.8334 17.2092 12.5001C17.3643 9.33341 18.9147 7.33341 22.9457 7.16675L26.9767 7.33341V12.0001C25.2713 12.0001 22.3255 11.3334 22.0154 13.6667V17.6667H26.6666L26.2015 22.8334H22.0154V35.8334H17.2092V22.8334L13.0232 22.6667V17.6667Z" fill="white"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M39.9999 21.3333L26.9767 7.33325V11.9999C25.2712 11.9999 22.3255 11.3333 22.0154 13.6666V17.6666H26.6666L26.2015 22.8333H22.0154V35.8333H17.2092L23.8759 42.9999H35.6588L39.9999 38.3333V21.3333Z" fill="#30487C"/>
            </svg>
            <svg width="40" height="43" viewBox="0 0 40 43" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-2">
                <g clip-path="url(#clip0)">
                    <path d="M31.4667 0H8.53331C3.82049 0 0 4.10703 0 9.17331V33.8268C0 38.893 3.82049 43.0001 8.53331 43.0001H31.4667C36.1796 43.0001 40.0001 38.893 40.0001 33.8268V9.17331C40.0001 4.10703 36.1796 0 31.4667 0Z" fill="#0A93E2"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M32.168 14.9761C31.3063 15.3867 30.3785 15.6652 29.4067 15.7895C30.3996 15.1491 31.1611 14.1367 31.522 12.93C30.5923 13.5213 29.5626 13.9522 28.4679 14.1839C27.5908 13.1787 26.3405 12.5518 24.9572 12.5518C22.3007 12.5518 20.1491 14.8672 20.1491 17.7204C20.1491 18.1252 20.1908 18.5209 20.2732 18.8991C16.2774 18.6828 12.7334 16.6251 10.3625 13.4967C9.94749 14.261 9.71129 15.1491 9.71129 16.096C9.71129 17.8901 10.5602 19.473 11.8491 20.3992C11.061 20.3727 10.3204 20.1394 9.67087 19.7515C9.67087 19.7742 9.67087 19.7949 9.67087 19.8176C9.67087 22.321 11.329 24.4104 13.5282 24.8851C13.1257 25.0036 12.7003 25.0677 12.2623 25.0677C11.9526 25.0677 11.6513 25.0354 11.3568 24.9752C11.97 27.029 13.7457 28.5233 15.8503 28.5647C14.2042 29.952 12.131 30.7765 9.8775 30.7765C9.48843 30.7765 9.10519 30.7539 8.73047 30.7052C10.858 32.1715 13.3848 33.0279 16.1004 33.0279C24.9451 33.0279 29.7832 25.1501 29.7832 18.3194C29.7832 18.0954 29.7779 17.8731 29.7694 17.651C30.7093 16.9224 31.5238 16.0116 32.168 14.976L32.168 14.9761Z" fill="white"/>
                </g>
                <defs>
                    <clipPath id="clip0">
                        <rect width="40" height="43" fill="white"/>
                    </clipPath>
                </defs>
            </svg>
            <svg width="49" height="51" viewBox="0 4 49 51" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M44.9127 14.8709C44.9127 9.00373 40.3414 4.24585 34.7043 4.24585C28.4691 4.24585 20.5229 4.24585 14.2877 4.24585C8.65064 4.24585 4.07935 9.00373 4.07935 14.8709C4.07935 21.3606 4.07935 29.6311 4.07935 36.1209C4.07935 41.988 8.65064 46.7459 14.2877 46.7459C20.5229 46.7459 28.4691 46.7459 34.7043 46.7459C40.3414 46.7459 44.9127 41.988 44.9127 36.1209C44.9127 29.6311 44.9127 21.3606 44.9127 14.8709Z" fill="url(#paint0_radial)"/>
                <path d="M30.5358 10.632C34.8049 10.6745 38.7351 14.4889 38.778 19.2106C38.7923 23.4011 38.7923 27.5916 38.778 31.7821C38.7372 36.2085 35.0724 40.3161 30.5358 40.3608C26.5096 40.3756 22.4834 40.3756 18.4573 40.3608C14.1861 40.3183 10.2579 36.5039 10.2151 31.7821C10.2008 27.5916 10.2008 23.4011 10.2151 19.2106C10.2539 14.763 13.9105 10.6766 18.4573 10.632C22.4834 10.6171 26.5096 10.6171 30.5358 10.632ZM18.5124 12.6401C15.1988 12.6508 12.1771 15.6406 12.1444 19.2234C12.1322 23.4054 12.1322 27.5874 12.1444 31.7694C12.1751 35.18 14.9783 38.3186 18.4695 38.3526C22.4875 38.3654 26.5055 38.3654 30.5235 38.3526C33.8086 38.3208 36.8159 35.4031 36.8486 31.7694C36.8609 27.5874 36.8609 23.4054 36.8486 19.2234C36.818 15.7894 33.9597 12.6741 30.5235 12.6401C26.5198 12.6274 22.5161 12.6401 18.5124 12.6401Z" fill="white"/>
                <path d="M24.5452 18.0667C27.8487 18.0985 30.9275 20.7505 31.5318 24.1484C31.9626 26.5709 31.15 29.1974 29.435 30.9017C27.5261 32.7929 24.5718 33.4687 22.0401 32.5039C19.2104 31.4265 17.2197 28.3219 17.3525 25.1769C17.5137 21.4199 20.7028 18.0794 24.4962 18.0667C24.5126 18.0667 24.5289 18.0667 24.5452 18.0667ZM24.4636 20.079C22.1055 20.1024 19.8821 21.9639 19.3921 24.3822C18.896 26.828 20.2475 29.5417 22.4668 30.517C24.8903 31.5838 28.0202 30.3874 29.19 27.8969C30.4007 25.3235 29.2594 21.8279 26.7033 20.5848C26.0071 20.2469 25.2333 20.0769 24.4636 20.079Z" fill="white"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M33.6875 17.4824C33.6875 17.0723 33.5303 16.6791 33.2526 16.3901C32.975 16.1011 32.5972 15.9375 32.2032 15.9375C32.1726 15.9375 32.1399 15.9375 32.1093 15.9375C31.7153 15.9375 31.3375 16.1011 31.0599 16.3901C30.7822 16.6791 30.625 17.0723 30.625 17.4824C30.625 17.4994 30.625 17.5143 30.625 17.5312C30.625 17.9541 30.7863 18.36 31.0742 18.6575C31.36 18.9571 31.75 19.125 32.1562 19.125C33.0015 19.125 33.6875 18.411 33.6875 17.5312C33.6875 17.5143 33.6875 17.4994 33.6875 17.4824Z" fill="white"/>
                <defs>
                    <radialGradient id="paint0_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(4.07935 45.6834) scale(57.0299 59.3576)">
                    <stop stop-color="#FF8100"/>
                    <stop offset="0.19" stop-color="#FF7209"/>
                    <stop offset="0.32" stop-color="#F55E16"/>
                    <stop offset="0.48" stop-color="#D92938"/>
                    <stop offset="1" stop-color="#9100FF"/>
                    </radialGradient>
                </defs>
            </svg>
        </div>
    </div>
    <div class="col-sm">
        <h5>Nos garanties</h5>
        <p>Protection acheteurs & vendeurs</p>
        <p>Paiement sécurisé</p></div>
    <div class="col-sm">
        <h5>Moyen de paiement</h5>
        <svg width="115" viewBox="0 0 75 38" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M36.5657 17.3109C36.5657 18.3495 36.1438 19.1855 35.2944 19.8214C34.445 20.4573 33.2594 20.7733 31.7375 20.7733H30.8938L30.2457 23.6093H28.0188L30.0038 14.8972H33.0938C33.6563 14.8972 34.1438 14.9378 34.5613 15.0144C34.9788 15.091 35.34 15.2284 35.6425 15.4165C35.9329 15.5982 36.1704 15.8548 36.3307 16.1601C36.4869 16.4755 36.5669 16.8568 36.5669 17.3109H36.5657ZM34.1988 17.53C34.1988 17.188 34.0782 16.9391 33.8319 16.77C33.5857 16.6009 33.2288 16.5255 32.7507 16.5255H31.8569L31.2632 19.1323H32.0632C32.7363 19.1323 33.2632 18.9949 33.6357 18.7143C34.0125 18.4344 34.1982 18.0367 34.1982 17.5237L34.1988 17.53ZM40.6613 22.9171L40.1888 23.2338C40.0032 23.356 39.8325 23.4529 39.6763 23.5239C39.4795 23.6088 39.2761 23.677 39.0682 23.7278C38.8769 23.7734 38.6157 23.7993 38.2844 23.7993C37.7469 23.7993 37.3044 23.6473 36.9632 23.3408C36.6219 23.0343 36.4507 22.6327 36.4507 22.1375C36.4507 21.6181 36.5713 21.1875 36.8132 20.8189C37.055 20.4503 37.4163 20.1665 37.8944 19.9531C38.3419 19.7492 38.8744 19.6016 39.4882 19.5098L41.4932 19.3109L41.5182 19.1988C41.5332 19.1481 41.5382 19.0867 41.5382 19.0215C41.5444 18.8969 41.5114 18.7736 41.4441 18.6692C41.3767 18.5648 41.2783 18.4848 41.1632 18.4407C40.9132 18.3286 40.53 18.2729 40.0275 18.2729C39.6857 18.2729 39.3088 18.3286 38.8919 18.4458L37.9625 18.7359H37.7713L38.0838 17.1778C38.325 17.117 38.7088 17.0512 39.2088 16.9688C39.7088 16.8865 40.2238 16.8517 40.7263 16.8517C41.7413 16.8517 42.49 16.9784 42.9625 17.2539C43.44 17.5237 43.6763 17.941 43.6763 18.5066C43.6756 18.6086 43.6689 18.7106 43.6563 18.8118C43.6457 18.9218 43.6274 19.0308 43.6013 19.138L42.5863 23.6093H40.5213L40.6613 22.9171ZM41.2138 20.5136L40.1688 20.6257C39.8864 20.6578 39.6083 20.7208 39.3394 20.8138C39.1032 20.9006 38.9225 21.0228 38.8019 21.1748C38.6769 21.3331 38.6163 21.5358 38.6163 21.7955C38.6163 22.0197 38.6975 22.1755 38.8625 22.2743C39.0275 22.3731 39.2644 22.4117 39.5813 22.4117C39.7875 22.4117 40.0032 22.3661 40.2394 22.2692C40.4723 22.1734 40.6932 22.0501 40.8975 21.9019L41.2138 20.5136ZM46.8625 26.0236H44.575L46.2282 23.4827L45.1632 17.0468H47.2882L47.8507 21.3496L50.3175 17.0468H52.5132L46.8625 26.0236Z" fill="#123984"/>
            <path d="M60.8251 17.311C60.8251 18.3497 60.4032 19.1857 59.5538 19.8215C58.7044 20.4574 57.5188 20.7734 55.9969 20.7734H55.1532L54.5051 23.6095H52.2788L54.2588 14.9024H57.3488C57.9113 14.9024 58.3988 14.943 58.8163 15.0196C59.2338 15.0962 59.5951 15.2337 59.8976 15.4218C60.1879 15.6034 60.4254 15.86 60.5857 16.1653C60.7463 16.482 60.8269 16.8575 60.8269 17.3053L60.8251 17.311ZM58.4532 17.5301C58.4532 17.1881 58.3326 16.9392 58.0863 16.7701C57.8401 16.601 57.4832 16.5257 57.0051 16.5257H56.1113L55.5176 19.1325H56.3163C56.9894 19.1325 57.5163 18.995 57.8888 18.7145C58.2657 18.4345 58.4513 18.0368 58.4513 17.5238L58.4532 17.5301ZM64.9207 22.9173L64.4482 23.2339C64.2626 23.3562 64.0919 23.4531 63.9357 23.524C63.7389 23.609 63.5355 23.6772 63.3276 23.7279C63.1363 23.7735 62.8751 23.7995 62.5438 23.7995C62.0063 23.7995 61.5638 23.6475 61.2226 23.341C60.8813 23.0344 60.7101 22.6329 60.7101 22.1376C60.7101 21.6183 60.8307 21.1876 61.0726 20.819C61.3144 20.4504 61.6757 20.1667 62.1538 19.9533C62.6013 19.7493 63.1338 19.6018 63.7476 19.5099L65.7526 19.3111L65.7776 19.199C65.7926 19.1483 65.7976 19.0869 65.7976 19.0216C65.8038 18.8971 65.7708 18.7737 65.7034 18.6693C65.636 18.565 65.5377 18.485 65.4226 18.4409C65.1726 18.3288 64.7894 18.273 64.2869 18.273C63.9451 18.273 63.5682 18.3288 63.1513 18.4459L62.2219 18.736H62.0307L62.3432 17.178C62.5844 17.1172 62.9682 17.0513 63.4682 16.969C63.9682 16.8867 64.4832 16.8518 64.9857 16.8518C66.0007 16.8518 66.7494 16.9785 67.2219 17.254C67.6994 17.5238 67.9357 17.9412 67.9357 18.5067C67.9349 18.6088 67.9283 18.7107 67.9157 18.812C67.9051 18.9219 67.8867 19.0309 67.8607 19.1382L66.8457 23.6095H64.7757L64.9207 22.9173ZM65.4732 20.5138L64.4282 20.6259C64.1458 20.6579 63.8677 20.721 63.5988 20.814C63.3626 20.9007 63.1819 21.023 63.0613 21.175C62.9363 21.3333 62.8757 21.536 62.8757 21.7956C62.8757 22.0198 62.9569 22.1756 63.1219 22.2744C63.2869 22.3732 63.5238 22.4119 63.8407 22.4119C64.0469 22.4119 64.2626 22.3663 64.4988 22.2694C64.7317 22.1736 64.9526 22.0503 65.1569 21.902L65.4732 20.5138ZM72.8951 14.5098L70.8201 23.6139H68.7294L70.8044 14.5098H72.8951Z" fill="#009DE2"/>
            <path d="M25.1925 15.5094C25.1925 17.9878 24.1757 19.9897 22.1464 21.5103C20.1172 23.031 17.2816 23.789 13.6353 23.789H11.6195L10.074 30.5753H4.7478L9.66636 9.74902H16.8785C18.2223 9.74902 19.3915 9.84435 20.3949 10.0305C21.3939 10.2166 22.2584 10.5389 22.9841 10.9973C23.7008 11.4558 24.2518 12.0504 24.6281 12.7813C25.0044 13.5076 25.1925 14.42 25.1925 15.5094Z" fill="#009CDE"/>
            <path d="M10.2533 30.7976H4.47021L9.49628 9.52197H16.8786C18.2269 9.52197 19.423 9.6173 20.4309 9.80341C21.4522 9.99406 22.3481 10.33 23.0962 10.7975C23.8443 11.2741 24.4267 11.9051 24.8209 12.6677C25.2151 13.4303 25.4122 14.3836 25.4122 15.5048C25.4122 18.0468 24.3595 20.1303 22.2765 21.6873C20.2159 23.2306 17.3086 24.0114 13.6309 24.0114H11.7898L10.2533 30.7976ZM5.03016 30.3528H9.89944L11.4449 23.5665H13.6354C17.2146 23.5665 20.0367 22.813 22.0167 21.3287C22.9977 20.5933 23.7458 19.7308 24.234 18.7685C24.7223 17.8062 24.9687 16.7077 24.9687 15.5093C24.9687 14.4607 24.785 13.5756 24.4267 12.8765C24.0683 12.182 23.5442 11.6146 22.8633 11.1788C22.1645 10.7385 21.3178 10.4253 20.3503 10.2437C19.3692 10.0621 18.2001 9.96682 16.8741 9.96682H9.84121L5.03016 30.3528Z" fill="white"/>
            <path d="M22.8275 13.1897C22.8275 15.6682 21.8107 17.67 19.7814 19.1906C17.7522 20.7113 14.9166 21.4694 11.2703 21.4694H9.25446L7.70901 28.2556H2.38281L7.12667 7.4248H14.5135C15.8573 7.4248 17.0265 7.52013 18.0299 7.70624C19.0289 7.89235 19.8934 8.21464 20.6191 8.67311C21.3358 9.13158 21.8868 9.72622 22.2631 10.4571C22.6394 11.1833 22.8275 12.0957 22.8275 13.1897Z" fill="#0F3572"/>
            <path d="M7.88362 28.478H2.10498L6.94739 7.20239H14.5134C15.8617 7.20239 17.0578 7.29772 18.0657 7.48383C19.087 7.67448 19.9829 8.01039 20.731 8.47793C21.4791 8.95456 22.0614 9.58552 22.4556 10.3481C22.8498 11.1107 23.0469 12.064 23.0469 13.1852C23.0469 15.7272 21.9942 17.8107 19.9112 19.3677C17.8506 20.911 14.9434 21.6918 11.2657 21.6918H9.42459L7.88362 28.478ZM2.66045 28.0287H7.53421L9.07966 21.2424H11.2702C14.8493 21.2424 17.6715 20.4889 19.6514 19.0045C20.6325 18.2692 21.3805 17.4067 21.8688 16.4444C22.3571 15.4821 22.6035 14.3835 22.6035 13.1852C22.6035 12.1366 22.4198 11.2514 22.0614 10.5524C21.7031 9.85788 21.179 9.29047 20.4981 8.85469C19.7993 8.41438 18.9526 8.10117 17.985 7.9196C17.004 7.73803 15.8348 7.6427 14.5089 7.6427H7.29679L2.66045 28.0287ZM17.3534 13.9296C17.3131 14.5651 17.1877 15.0327 16.8024 15.5728C16.4217 16.113 15.9737 16.4625 15.3734 16.7531C15.0106 16.9256 14.6343 17.039 14.2401 17.0935C13.8459 17.148 13.3756 17.1798 12.8246 17.1798H10.1772L11.6599 11.7962H14.0654C14.6791 11.7962 15.1719 11.8052 15.5437 11.8915C15.9155 11.9732 16.2201 12.0867 16.4485 12.2274C16.7666 12.418 17.0219 12.6495 17.1698 12.9446C17.3534 13.2896 17.3758 13.512 17.3534 13.9296Z" fill="white"/>
        </svg>
    </div>
</div>
<div class="row bg-dark text-white py-2 px-5">
    <div class="col-2">
        <p>Mentions légales</p>
    </div>
    <div class="col-2">
        <p>Protection des données</p>
    </div>
    <div class="col-2">
        <p>Paramètres des données</p>
    </div>
    <div class="col-2">
        <p>Plan du site</p>
    </div>
    <div class="col-4"></div>
</div>
<div class="row bg-dark text-white py-1 px-2">
    <div class="col-10"></div>
    <div class="col-2">
        <p>Retourner en haut ↑</p>
    </div>
</div>