{% extends 'base.html.twig' %}
{% block title %}
	{{ title }}
{% endblock %}
{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('style/favoris/favorite_card.css')}}">
{% endblock %}
{% block body %}
	{% if products is empty %}
		<div class="flex justify-center h-96">
			<h1 class="text-center w-full my-auto mx-2">Malheuresement aucun produits ne correspond à votre recherche 😕</h1>
		</div>
	{% else %}
		<div class="flex flex-wrap justify-center">
			{% for product in products %}
				{{ block("product_vignette", "/product/vignette_view_product.html.twig") }}
			{% endfor %}
		</div>
	{% endif %}

{% endblock %}
