body{
    background-color: #f8f9fa;
}

.image-container{
    background: url('https://i.ibb.co/RzC8fG9/image-body.png') center no-repeat;
    background-size: 70%;
    height: 100vh;

}

.text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.circle{
    left: 40%;
    top: -20%;
    width: 1330px;
    height: 1330px;
    border-radius: 50%;
    background-color: #e7e5e5;
    display: flex;
    justify-content: center;
    background-size: contain;
    position: absolute;

}



















