<div class="row bg-light text-dark py-3 px-5">
    <div class="col-sm">
        <h5>Besoin d'aide ?</h5>
        <p>Suivre mon colis</p>
        <p>Guide des tailles</p>
        <p>Livraisons</p>
        <p>Retours</p>
    </div>
    <div class="col-sm">
        <h5>Suivez-nous</h5>
    </div>
    <div class="col-sm">
        <h5>Nos garanties</h5>
        <p>Protection acheteurs & vendeurs</p>
        <p>Paiement sécurisé</p></div>
    <div class="col-sm">
        <h5>Moyen de paiement</h5>
    </div>
</div>
<div class="row bg-dark text-white py-2 px-5">
    <div class="col-sm">
        <p>Mentions légales</p>
    </div>
    <div class="col-sm">
        <p>Protection des données</p>
    </div>
    <div class="col-sm">
        <p>Paramètres des données</p>
    </div>
    <div class="col-sm">
        <p>Plan du site</p>
    </div>
</div>
<div class="row bg-dark text-white py-3 px-5">
    <div class="col-sm">
        <p>Retourner en haut ↑</p>
    </div>
</div>