/*===========START PROGRESS BAR===================*/


/*==============START CONTAINER===================*/
.pre-buy-container-first{
    display: inline;
}
.pre-buy-container{
    position: relative;
    display: flex;
    height: 800px;
    width: 100%;
    padding-left: 120px;
    padding-top : 60px;
    padding-right: 120px;
}
@media screen and (max-width: 1400px) {
    .pre-buy-container{
        position: relative;
        display: flex;
        height: 800px;
        width: 100%;
        padding-left: 60px;
        padding-top : 60px;
        padding-right: 60px;
    }
}
@media screen and (max-width: 1100px) {
    .pre-buy-container {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-left: 60px;
        padding-right: 60px;
        flex-direction: column-reverse;
    }
}
@media screen and (max-width: 700px) {
    .pre-buy-container {
        position: relative;
        height: 100%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        padding-right: 0;
        flex-direction: column-reverse;
    }
}
/*===========END CONTAINER========================*/



/*======LEFT CONTAINER==============================*/

/*======START CARD CONTAINER==============================*/
.pre-buy-container-left{
    position: relative;
    height: 86%;
    width: 66%;
    padding-left: 180px;
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width: 1600px) {
    .pre-buy-container-left {
        position: relative;
        height: 86%;
        width: 66%;
        padding-left: 60px;
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 1600px) {
    .pre-buy-container-left {
        position: relative;
        height: 86%;
        wi: 66%;
        padding-left: 60px;
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 1300px) {
    .pre-buy-container-left {
        position: relative;
        height: 86%;
        width: 66%;
        padding-left: 00px;
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 1200px) {
    .pre-buy-container-left {
        position: relative;
        height: 86%;
        width: 66%;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-width: 1100px) {
    .pre-buy-container-left {
        position: relative;
        height: 86%;
        width: 100%;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
    }
}
/*======END CARD CONTAINER==============================*/

/*======START ORDER CONTAINER==============================*/
.pre-buy-container-scene {
    margin-top: 0;
    margin-left: 40px;
    position: relative;
    background-color: transparent;
    width: 43%;
    height: 300px;
}
@media screen and (max-width: 1100px) {
    .pre-buy-container-scene {
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px;
        position: relative;
        background-color: transparent;
        width: 100%;
        height: 250px;
    }
}
.card__face img{
    width: 300px;
    height: 200px;
}

.pre-buy-card {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
}
.pre-buy-card-body-div-left{
    padding : 16px;
    font-family: "Poppins", sans-serif;
    text-align: left !important;
    display: flex;
}

.pre-buy-card-body-title-left{
    font-weight: 700;
    font-size: 18px;
    height: 27px;
    margin-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
    overflow: hidden;
}
.pre-buy-card-title-div-left{
    height: 45px;
    text-align: center;
    background-color: white;
    border-right: solid 6px #262660;
}
.pre-buy-card-title-left{
    font-size: 23px;
    font-weight: 650;
}
.pre-buy-card-title-left:after{
    content: ""; /* This is necessary for the pseudo element to work. */
    display: block; /* This will put the pseudo element on its own line. */
    margin: 0 auto; /* This will center the border. */
    width: 30%; /* Change this to whatever width you want. */
    border-bottom: 1px solid black; /* This creates the border. Replace black with whatever color you want. */
}
/*==============END CARD ORDER==============================*/

/*==============START CARD ADDRESS==========================*/

/*POUR GERER LE MODE RESPONSIVE QUAND WIDTH > 1100px*/
@media screen and (min-width: 1100px) {
    .pre-buy-card-turn {
        position: relative;
        width: 100%;
        height: 100%;
    }

    /* Position the front and back side */
    .card__face--front {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
    }

    /* Style the front side (fallback if image is missing) */
    .card__face--front {
        color: #262660;
    }

    .pre-buy-card-order .card__face--front {
        border-bottom-right-radius: 20px;
    }

    .card__face--front .update-address {
        background-color: white;
        border-bottom: solid 1px #b8aaaa;
        border-left: solid 1px #b8aaaa;
        position: absolute;
        right: 0;
        padding: 6px;
        border-bottom-left-radius: 14px;
        cursor: pointer;
        border-right: solid 6px #262660;
        color: #262660;
        font-size: 13px;
        font-family: "Poppins", sans-serif;
        background-image: -webkit-linear-gradient(30deg, #262660 50%, transparent 50%);
        background-image: linear-gradient(30deg, #262660 50%, transparent 50%);
        background-size: 500px;
        background-repeat: no-repeat;
        background-position: 100%;
        -webkit-transition: background 300ms ease-in-out;
        transition: background 300ms ease-in-out;
    }

    .card__face--front .update-address:hover i {
        color: white;
    }

    .card__face--front .update-address:hover {
        background-position: 0%;
        color: white;
    }

    .pre-buy-card-address .pre-buy-card-address-body-div-left {
        padding-top: 55px;
        padding-left: 34px;
        padding-right: 34px;
        height: auto;
        overflow: hidden;
        color: #262660;
        font-family: "Poppins", sans-serif;
    }

    .pre-buy-card-address .pre-buy-card-address-body-div-left p {
        margin-bottom: -2px;
    }

    .pre-buy-card-address-body-postal-div {
        margin-bottom: 13px;
    }

    /* Style the back side */
    .pre-buy-card-address-body-name-left {
        text-align: left;
    }

    .pre-buy-card-address-body-div-left-back {
        text-align: left;
        color: #262660;
        padding: 20px;
        font-family: "Poppins", sans-serif;
    }

    .pre-buy-card-address-body-div-left-back button {
        margin-top: 37%;
        background-color: #5fb871;
        border: none;
        border-radius: 30px;
        padding: 8px;
        font-family: "Poppins", sans-serif;
    }

    .pre-buy-card-address-body-additional-informations-div {
        max-height: 97px;
        height: auto;
    }

    .pre-buy-card-address-body-additional-informations-div .pre-buy-card-address-body-name-div {
        max-height: 48px;
        overflow: hidden;
    }

    .pre-buy-card-address-body-additional-informations {
        max-height: 67px;
    }

    .clicked {
        background-color: #262660;
        border-bottom: solid 1px #b8aaaa;
        color: white;
        border-left: solid 1px #b8aaaa;
        position: absolute;
        right: 0;
        padding: 6px;
        border-bottom-left-radius: 14px;
        cursor: pointer;
        border-right: solid 6px #262660;
        font-size: 13px;
        font-family: "Poppins", sans-serif;
        background-size: 500px;
        background-repeat: no-repeat;
        background-position: 100%;
        -webkit-transition: background 300ms ease-in-out;
        transition: background 300ms ease-in-out;
    }
}
/*==============END CARD ADDRESS============================*/

/*==============START CARD PAIEMENT============================*/
/*POUR GERER LE MODE RESPONSIVE QUAND WIDTH > 1100px*/
@media screen and (min-width: 1100px) {
    .pre-buy-card-body-way-div-left{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 55px;
        height: 85%;
    }
    .pre-buy-card-body-way-div-left button{
        padding: 10px;
        background-color: #ffc439;
        border: none;
        outline: none;
        text-decoration: none;
        cursor: pointer;
    }
    .pre-buy-card-body-way-div-left button .pay{
        color: #003087;
        font-family: "Verdana", serif;
        font-weight: bold;
        font-size: 18px;
    }
    .pre-buy-card-body-way-div-left button .pal{
        color: #009cde;
        font-family: "Verdana", serif;
        font-size: 18px;
        font-weight: bold;
    }
    .pre-buy-card-body-way-div-left .custom-radio-paiement{
        background-color: #ffc439;
        cursor: pointer;
        padding-top: 12px;

        padding-right: 4px;
        padding-bottom: 11px;
    }
    .pre-buy-card-body-way-div-left .custom-radio-paiement input{
        cursor: pointer;
    }
}


/*==============END CARD PAIEMENT============================*/

.inner {
    background-color: rgb(234 230 230);
    border-right: solid 1px black;
    border-bottom: solid 1px black;
}
.pre-buy-card-body-div-left-container{
    overflow: hidden;
    display: inline-block;

}
.pre-buy-card-body-div-left-container > div {
    display: flex;
}
.pre-buy-card-body-div-left-left{
    width: 50%;
}
.pre-buy-card-body-div-left-left img{
    width: 100%;
    max-height: 90%;
    padding-bottom: 4px;
    padding-top: 20px;
}
.pre-buy-card-body-div-left-right{
    width: 50%;
    padding-top: 20px;
    padding-left: 14px;
}
.first-card{
    box-shadow: -7px -7px 22px rgba(107, 171, 120, 0.6);
}
.second-card{
    box-shadow: -7px -7px 22px rgba(107, 171, 120, 0.6);
}
.three-card{
    box-shadow: -7px -7px 22px rgba(107, 171, 120, 0.6);
}
.four-card{
    box-shadow: -7px -7px 22px rgba(107, 171, 120, 0.6);
}


/**/
/*======RIGHT CONTAINER==============================*/
.pre-buy-container-right{
    height: 100%;
    position: relative;
    width: 34%;
    font-family: "Poppins", sans-serif;
}
/*POUR GERER LE MODE RESPONSIVE QUAND WIDTH < 1100px*/
@media screen and (max-width: 1100px) {
    .pre-buy-container-right {
        position: relative;
        height: 86%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .pre-buy-container-right .pre-buy-container-scene{
        margin-top: 30px;
        margin-left: 20px;
        margin-right: 20px !important;
        position: relative;
        background-color: #EAE6E6;
        width: 100%;
        height: 250px;
        perspective: 1000px; /* Remove this if you don't want the 3D effect */
    }
}
/*POUR GERER LE MODE RESPONSIVE QUAND WIDTH > 1100px*/
@media screen and (min-width: 1100px) {
    .pre-buy-container-right .pre-buy-container-scene {
        width: 80%;
        height: 440px;
        background-color: #EAE6E6;
    }

    .pre-buy-card-title-div-right {
        font-size: 15px;
        padding: 10px;
        text-align: left !important;

    }

    .pre-buy-card-title-right {
        border-bottom: solid 1px #262660;
    }

    .pre-buy-card-body-div-right {
        margin-top: 20px;
        gap: 14px;
        text-align: left;
        display: flex;
        flex-direction: column;
        padding-left: 55px;
        padding-right: 55px;
    }

    .pre-buy-card-body-div-right-order {
        display: flex;
        flex-direction: row;

    }

    .pre-buy-card-body-div-right-tax {
        display: flex;
        flex-direction: row;
    }

    .pre-buy-card-body-div-right-shipping {
        display: flex;
        flex-direction: row;
    }

    .pre-buy-card-body-div-right-total {
        display: flex;
        flex-direction: row;
    }

    .pre-buy-card-body-div-right-libelle {
        width: 70%;
    }

    .pre-buy-card-body-div-right-price {
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .pre-buy-card-body-right-price:after {
       content: ' €';
    }
    #paypal-button-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-top: 20px;
    }
}
@media screen and (min-width: 1300px) {
    #paypal-button-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-top: 30px;
        padding-left: 60px;
        padding-right: 60px;
    }
}