@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

body{
    margin: 0;
}

.complete_header{
    position: sticky;
    width: 100%;
    z-index: 2;
    background-color: #FFFFFF;
    height: 110px;
    color: whitesmoke;
    border-bottom: 1px solid rgba(62, 62, 62, 0.1);
    box-sizing: border-box;
    box-shadow: 0 -2px 14px rgba(0, 0, 0, 0.25);
}

.top_header{
    margin: 0 1rem;
    height: 60%;
    display: flex;
    border-bottom: 1px solid rgba(62, 62, 62, 0.1);
}

.sub_header{
    margin: 0 1rem;
    height: 40%;
    display: flex;
    justify-content: space-between;
}

.top_header > div{
    display: flex;
}


.div_header_logo{
    width: 20%;
    margin: auto
}

.div_header_logo > a >  img {
    cursor: pointer;
    height: 40px;
}

.searchBar_header_div{
    width: 40%;
    margin-top: auto;
    margin-bottom: auto;
    background-color: rgba(196, 196, 196, 0.18);
    height: 60%;
    border-radius: 9px;
}

.searchBar_header_div > input::-webkit-input-placeholder{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.2);
}

i{
    color: rgba(0, 0, 0, 0.2);
    font-size: 14px;
    margin: auto 0.8rem;
}
.searchBar_header_div  form {
    padding: 6px;
    width: 100%;
}
.searchBar_header_div  button {
    padding: 0;
    background-color: inherit;
    border: none;
    text-transform: none;
    outline: none;
}
.searchBar_header_div  button:focus {
    outline: none;
}
.searchBar_header_div  input {
    background-color: transparent;
    border: none;
    width: calc(100% - 50px);
}

.header_user_option{
    justify-content: flex-end;
    width: 40%;
}

.top_header_icons{
    justify-content: space-evenly;
    width: 50%;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}

.top_header_icons > a > img {
    height: 20px;
    width: 2rem;
}

.top_header_icons > span {
    color: rgba(0, 0, 0, 0.50);
}

.header_profil{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    cursor: pointer;
}

.header_profil > img {
    z-index: 1;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.header_profil > div {
    margin-left: -30px;
    height: 35px;
    background-color: #F6F6F6;
    width: 200px;
    border-radius: 110px;
    display: flex;
}

.header_profil>div>i {
    z-index: 1;
}

.header_profil > div > p{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    margin: auto;
    padding-left: 15px;
    color: rgba(0, 0, 0, 0.75);
    text-align: end;
    width: 100%;
    z-index:1
}


.left_sub_header{
    margin: auto 0;
    display: flex;
}

.left_sub_header > span{
    display: none;
}

.left_sub_header > div{
    display: flex;
}

.left_sub_header > div > a {
    text-decoration: none;
}

.left_sub_header > div > a > h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    width: 8rem;
    height: 100%;
    margin: 0;
    color: rgba(0, 0, 0, 0.75);
}

.right_sub_header{
    text-align: end;
    margin: auto 0;
    display: flex;
}

.right_sub_header > a {
    text-decoration: none;
}

/*======DEBUT========HOMME FEMME ENFANT HEADER=====================================================*/

.background-header-gender{
    position: absolute;
    width: 100%;
    border-top: 1px solid rgba(62, 62, 62, 0.1);
    background-color: #FFFFFF!important;
    z-index: 10;
    margin-top: 44px !important;
    padding: 15px;
}


.link {
    display: flex !important;
    width: max-content;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.75);
}

.menu-subtitle {
    margin-bottom: 16px;
}

.menu-item {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.menu-icon {
    width: 2rem;
    margin-bottom: 12px;
    margin-right: 12px
}

.menu-img {
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 1450px){
    .menu-img {
        width: 275px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 850px){
    .menu-img {
        width: 175px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 575px){
    #woman-window > div:nth-child(1) > h5, #man-window > div:nth-child(1) > h5, #children-window > div:nth-child(1) > h5  {
        margin-top: 8rem;
    }

    .menu-img {
        width: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

/*======FIN========HOMME FEMME ENFANT HEADER=====================================================*/

.right_sub_header > a > h3 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    width: 8rem;
    height: 100%;
    margin: 0;
    color: rgba(0, 0, 0, 0.75);
}

#search_expand_header {
    display: none;
}

#modal_header_profil {
    -moz-transition: height 0.3s ease-out;
    -ms-transition: height 0.3s ease-out;
    -o-transition: height 0.3s ease-out;
    -webkit-transition: height 0.3s ease-out;
    transition: height 0.3s ease-out;
    height: 0;
    overflow: hidden;
    background-color: #F6F6F6;
    width: 205px;
    position: absolute;
    margin-left: 0 !important;
    margin-top: calc(25px / 2);
    border-radius: 1rem;
}
.pointer{
    cursor: pointer;
}
.modal_header_profil_option {
    margin: 2rem 1rem .5rem;
    width: 100%;
}

.modal_header_profil_option>div {
    height: 35px;
}

.modal_header_profil_option>div>a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.75);
    font-weight: 600;
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
}

.modal_header_profil_option img {
    margin-left: .5rem;
    height: 18px;
    width: 25px;
    margin-top: 0.2rem;
}

@media screen and (max-width: 1024px){
    .header_profil {
        margin-right: 1rem;
    }

    .header_profil_name {
        display: none !important;
    }

    .modal_header_profil_option>div>a>p {
        display: none;
    }

    #modal_header_profil {
        width: auto;
    }

    .modal_header_profil_option {
        margin: 2rem 0.35rem;
    }

    .modal_header_profil_option img {
        margin-left: 0;
    }

    .sub_header {
        zoom: 0.9;
    }

    .header_user_option {
        width: 60% !important;
    }

    .searchBar_header_div {
        width: 80% !important;
    }

    .div_header_logo {
        width: 40% !important;
    }

    .left_sub_header > div > a > h3 {
        width: 5rem;
    }

    .right_sub_header > a > h3 {
        width: 6rem;
    }
}

@media screen and (max-width: 640px){
    .searchBar_header_div {
        display: none !important;
    }

    #search_expand_header {
        display: block;
    }

    #search_expand_header input {
        outline: none;
    }

    #search_expand_header input[type=search] {
        -webkit-appearance: textfield;
        -webkit-box-sizing: content-box;
        font-family: inherit;
        font-size: 100%;
    }

    #search_expand_header input::-webkit-search-decoration,
    #search_expand_header input::-webkit-search-cancel-button {
        display: none;
    }

    #search_expand_header input[type=search] {
        background: transparent url('https://img.icons8.com/fluent-systems-filled/24/000000/search.png') no-repeat 9px center;
        border: none;
        width: 55px;

        -webkit-border-radius: 10em;
        -moz-border-radius: 10em;
        border-radius: 10em;

        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        transition: all .5s;
    }

    #search_expand_header input[type=search]:focus {
        width: 130px;
        background-color: #fff;
        border-color: #66CC75;

        -webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
        -moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
        box-shadow: 0 0 5px rgba(109,207,246,.5);
    }

    #search_expand_header input:-moz-placeholder {
        color: #999;
    }

    #search_expand_header input::-webkit-input-placeholder {
        color: #999;
    }

    #search_expand_header input[type=search] {
        width: 22px;
        padding-left: 10px;
        color: transparent;
        cursor: pointer;
    }
    #search_expand_header input[type=search]:hover {
        background-color: #fff;
    }
    #search_expand_header input[type=search]:focus {
        width: 130px;
        padding-left: 32px;
        color: #000;
        background-color: #fff;
        cursor: auto;
    }
    #search_expand_header input:-moz-placeholder {
        color: transparent;
    }
    #search_expand_header input::-webkit-input-placeholder {
        color: transparent;
    }

    .top_header_icons {
        justify-content: space-evenly;
        width: 100%;
    }

    .header_user_option {
        width: 200% !important;
    }

    .right_sub_header > a {
        display: none;
    }

    .dropdown-header {
        position: relative;
        display: inline-block;
        padding-left: 0;
    }

    .dropdown-header-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
    }

    .dropdown-header:hover .dropdown-header-content {
        display: block;
    }

    .left_sub_header > span{
        display: flex;
        content: '^';
    }

    .left_sub_header > span:after{
        margin: .05rem .1rem .1rem .4rem;
        content: '>';
    }

    .left_sub_header > div {
        display: none;
    }

    .left_sub_header > div:hover {
        display: block;
    }

    .left_sub_header > span {
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 1rem;
        width: 8rem;
        height: 100%;
        margin: 0;
        color: rgba(0, 0, 0, 0.75);
    }

    .left_sub_header > div > a > h3 {
        height: 3rem;
        margin: auto;
    }

    .left_sub_header > div > a:last-child > h3 {
        height: fit-content;
        margin: auto;
    }
}

@media screen and (max-width: 640px){
    .top_header > div {
        zoom: 0.9;
    }
}

