.FAQ-title {
    font-family: Poppins, serif;
    font-size: large;
    padding: 60px 30px 60px 30px;
    text-align: center;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;

    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.bot-buffer { margin-bottom:20px; }

.card-size{
    width: 33%;
    display: inline;
}
