<ul class="nav flex-column">
    <li class="nav-item">
        <a class="nav-link" href="{{ path('user') }}">Mon profil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Mes commandes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Mes messages</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('user_ads') }}">Mes annonces</a>
    </li>
</ul>