{% extends 'base.html.twig' %}

{% block title %}Mes annonces{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                {% include 'user/user_vertical_menu.html.twig' %}
            </div>
            <div class="col-sm-10">
        <h1>Mes annonces</h1>
        {% if ads is defined %}
            <ul>
                {% for ad in ads %}
                    <li> Titre: {{ad.title}}, Prix: {{ad.price}}, Taile {{ ad.size }}</li>
                {% endfor %}
            </ul>

        {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
